body {
    background-color: #202020;
}

h1 {
    color: #C33149;
    text-shadow: 1px 1px 2px #CD5367;
}

.navBar {
    position: absolute;
    margin-top: -95px;
    margin-left: 20px;
    line-height: -30px;;
    z-index: 1;
    font-family: 'Give You Glory', cursive;
    font-size: 100px;
    transform: rotate(-15deg);
}

.phoneNumber {
    font-family: 'Give You Glory', cursive;
    font-weight: bold;
    margin-top: -25px;
    margin-right: 20px;
    text-align: end;
    font-size: 22px;
    color: #D0C5BB;                                               
}

.email {
    font-family: 'Give You Glory', cursive;
    font-size: 22px;
    text-align: end;
    margin-right: 20px;
    margin-right: 0 px; 
    margin-top: 0px;
    color: #D0C5BB;
}

.socials {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 0px;
}

.social_img {
    width: 50px;
    height: 50px; 
    display: inline;
};

.meParagraph {
    background-color: gold;
    position: absolute;
    margin-left: 120px;
    margin-right: 700px;
    z-index: 2;                                                
}

.theLinks {
    position: inline-block;
    margin-top: 45px;
    margin-right: 20px;
    background-image:url("images/ToolBox.png");
    background-size: cover;
    height: 1200px;
    text-align: end;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #D0C5BB;
}

.theLinks p {
    position: inline-block;
    margin-top: -350px;
    font-family: 'Give You Glory', cursive;
    margin-right: 800px;
    font-weight: bolder;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: max-content;
    position: relative;
    top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  
}
 .card {
    background-color: #D0C5BB ;
    border: solid 2px #D0C5BB;
    padding: 20px;
 }

 .card_img {
    height: 400px;
}

.card .card_title {
    background-color: #c0b6ad;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #202020;
}

/* .backToTop {
    background-color: hotpink;
    text-align: end;
    position: relative;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px

}
*/

/* .resume {
    background-color: darkred;
    position: absolute;
    margin-top: 220px;
    margin-right: 00px;
    height: 40px;
    width: 400px;
    margin-left: -165px;
    transform: rotate(-90deg);
    top: 10px;
} */

li {
    list-style: none;
    padding: 22px;
}

button {
    padding: 10px;
    border: #c67381 2px solid; 
    background-color: #CD5367;
}

.card button {
    margin-left: 140px;
}











